<!DOCTYPE html>
<html>
  <head>
    <title>AVA_</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>AVA에게 명령하세요</h1>
    <form action="/text/analysis" method="post">
      <input type="text" name="user_input"><br>
      <input type="submit"><br>
    </form>
  </body>
</html>
